.item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 0;
    background: transparent;
    text-align: center;
    color: #4E4C48;
    font-size: 1.5em;
}

.item img {
    width: auto;
    /*height: 100%;*/

}

.site-demo-img .item img {
    width: 100%;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .item {
/*        width: 50%;*/
    }
}

[rt-data-move][rt-data-move][rt-data-move-easing=linear],
body[rt-data-move-easing=linear] [rt-data-move] {
    transition-timing-function: cubic-bezier(.25, .25, .75, .75)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease],
body[rt-data-move-easing=ease] [rt-data-move] {
    transition-timing-function: ease
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in],
body[rt-data-move-easing=ease-in] [rt-data-move] {
    transition-timing-function: ease-in
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-out],
body[rt-data-move-easing=ease-out] [rt-data-move] {
    transition-timing-function: ease-out
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in-out],
body[rt-data-move-easing=ease-in-out] [rt-data-move] {
    transition-timing-function: ease-in-out
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in-back],
body[rt-data-move-easing=ease-in-back] [rt-data-move] {
    transition-timing-function: cubic-bezier(.6, -.28, .735, .045)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-out-back],
body[rt-data-move-easing=ease-out-back] [rt-data-move] {
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in-out-back],
body[rt-data-move-easing=ease-in-out-back] [rt-data-move] {
    transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in-sine],
body[rt-data-move-easing=ease-in-sine] [rt-data-move] {
    transition-timing-function: cubic-bezier(.47, 0, .745, .715)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-out-sine],
body[rt-data-move-easing=ease-out-sine] [rt-data-move] {
    transition-timing-function: cubic-bezier(.39, .575, .565, 1)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in-out-sine],
body[rt-data-move-easing=ease-in-out-sine] [rt-data-move] {
    transition-timing-function: cubic-bezier(.445, .05, .55, .95)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in-quad],
body[rt-data-move-easing=ease-in-quad] [rt-data-move] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-out-quad],
body[rt-data-move-easing=ease-out-quad] [rt-data-move] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in-out-quad],
body[rt-data-move-easing=ease-in-out-quad] [rt-data-move] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in-cubic],
body[rt-data-move-easing=ease-in-cubic] [rt-data-move] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-out-cubic],
body[rt-data-move-easing=ease-out-cubic] [rt-data-move] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in-out-cubic],
body[rt-data-move-easing=ease-in-out-cubic] [rt-data-move] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in-quart],
body[rt-data-move-easing=ease-in-quart] [rt-data-move] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-out-quart],
body[rt-data-move-easing=ease-out-quart] [rt-data-move] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[rt-data-move][rt-data-move][rt-data-move-easing=ease-in-out-quart],
body[rt-data-move-easing=ease-in-out-quart] [rt-data-move] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

[rt-data-move][rt-data-move][rt-data-move-duration='50'],
body[rt-data-move-duration='50'] [rt-data-move] {
    transition-duration: 50ms
}

[rt-data-move][rt-data-move][rt-data-move-duration='100'],
body[rt-data-move-duration='100'] [rt-data-move] {
    transition-duration: .1s
}

[rt-data-move][rt-data-move][rt-data-move-duration='150'],
body[rt-data-move-duration='150'] [rt-data-move] {
    transition-duration: .15s
}

[rt-data-move][rt-data-move][rt-data-move-duration='200'],
body[rt-data-move-duration='200'] [rt-data-move] {
    transition-duration: .2s
}

[rt-data-move][rt-data-move][rt-data-move-duration='250'],
body[rt-data-move-duration='250'] [rt-data-move] {
    transition-duration: .25s
}

[rt-data-move][rt-data-move][rt-data-move-duration='300'],
body[rt-data-move-duration='300'] [rt-data-move] {
    transition-duration: .3s
}

[rt-data-move][rt-data-move][rt-data-move-duration='350'],
body[rt-data-move-duration='350'] [rt-data-move] {
    transition-duration: .35s
}

[rt-data-move][rt-data-move][rt-data-move-duration='400'],
body[rt-data-move-duration='400'] [rt-data-move] {
    transition-duration: .4s
}

[rt-data-move][rt-data-move][rt-data-move-duration='450'],
body[rt-data-move-duration='450'] [rt-data-move] {
    transition-duration: .45s
}

[rt-data-move][rt-data-move][rt-data-move-duration='500'],
body[rt-data-move-duration='500'] [rt-data-move] {
    transition-duration: .5s
}

[rt-data-move][rt-data-move][rt-data-move-duration='550'],
body[rt-data-move-duration='550'] [rt-data-move] {
    transition-duration: .55s
}

[rt-data-move][rt-data-move][rt-data-move-duration='600'],
body[rt-data-move-duration='600'] [rt-data-move] {
    transition-duration: .6s
}

[rt-data-move][rt-data-move][rt-data-move-duration='650'],
body[rt-data-move-duration='650'] [rt-data-move] {
    transition-duration: .65s
}

[rt-data-move][rt-data-move][rt-data-move-duration='700'],
body[rt-data-move-duration='700'] [rt-data-move] {
    transition-duration: .7s
}

[rt-data-move][rt-data-move][rt-data-move-duration='750'],
body[rt-data-move-duration='750'] [rt-data-move] {
    transition-duration: .75s
}

[rt-data-move][rt-data-move][rt-data-move-duration='800'],
body[rt-data-move-duration='800'] [rt-data-move] {
    transition-duration: .8s
}

[rt-data-move][rt-data-move][rt-data-move-duration='850'],
body[rt-data-move-duration='850'] [rt-data-move] {
    transition-duration: .85s
}

[rt-data-move][rt-data-move][rt-data-move-duration='900'],
body[rt-data-move-duration='900'] [rt-data-move] {
    transition-duration: .9s
}

[rt-data-move][rt-data-move][rt-data-move-duration='950'],
body[rt-data-move-duration='950'] [rt-data-move] {
    transition-duration: .95s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1000'],
body[rt-data-move-duration='1000'] [rt-data-move] {
    transition-duration: 2s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1050'],
body[rt-data-move-duration='1050'] [rt-data-move] {
    transition-duration: 1.05s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1100'],
body[rt-data-move-duration='1100'] [rt-data-move] {
    transition-duration: 1.1s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1150'],
body[rt-data-move-duration='1150'] [rt-data-move] {
    transition-duration: 1.15s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1200'],
body[rt-data-move-duration='1200'] [rt-data-move] {
    transition-duration: 1.2s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1250'],
body[rt-data-move-duration='1250'] [rt-data-move] {
    transition-duration: 1.25s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1300'],
body[rt-data-move-duration='1300'] [rt-data-move] {
    transition-duration: 1.3s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1350'],
body[rt-data-move-duration='1350'] [rt-data-move] {
    transition-duration: 1.35s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1400'],
body[rt-data-move-duration='1400'] [rt-data-move] {
    transition-duration: 1.4s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1450'],
body[rt-data-move-duration='1450'] [rt-data-move] {
    transition-duration: 1.45s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1500'],
body[rt-data-move-duration='1500'] [rt-data-move] {
    transition-duration: 1.5s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1550'],
body[rt-data-move-duration='1550'] [rt-data-move] {
    transition-duration: 1.55s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1600'],
body[rt-data-move-duration='1600'] [rt-data-move] {
    transition-duration: 1.6s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1650'],
body[rt-data-move-duration='1650'] [rt-data-move] {
    transition-duration: 1.65s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1700'],
body[rt-data-move-duration='1700'] [rt-data-move] {
    transition-duration: 1.7s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1750'],
body[rt-data-move-duration='1750'] [rt-data-move] {
    transition-duration: 1.75s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1800'],
body[rt-data-move-duration='1800'] [rt-data-move] {
    transition-duration: 1.8s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1850'],
body[rt-data-move-duration='1850'] [rt-data-move] {
    transition-duration: 1.85s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1900'],
body[rt-data-move-duration='1900'] [rt-data-move] {
    transition-duration: 1.9s
}

[rt-data-move][rt-data-move][rt-data-move-duration='1950'],
body[rt-data-move-duration='1950'] [rt-data-move] {
    transition-duration: 1.95s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2000'],
body[rt-data-move-duration='2000'] [rt-data-move] {
    transition-duration: 2s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2050'],
body[rt-data-move-duration='2050'] [rt-data-move] {
    transition-duration: 2.05s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2100'],
body[rt-data-move-duration='2100'] [rt-data-move] {
    transition-duration: 2.1s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2150'],
body[rt-data-move-duration='2150'] [rt-data-move] {
    transition-duration: 2.15s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2200'],
body[rt-data-move-duration='2200'] [rt-data-move] {
    transition-duration: 2.2s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2250'],
body[rt-data-move-duration='2250'] [rt-data-move] {
    transition-duration: 2.25s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2300'],
body[rt-data-move-duration='2300'] [rt-data-move] {
    transition-duration: 2.3s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2350'],
body[rt-data-move-duration='2350'] [rt-data-move] {
    transition-duration: 2.35s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2400'],
body[rt-data-move-duration='2400'] [rt-data-move] {
    transition-duration: 2.4s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2450'],
body[rt-data-move-duration='2450'] [rt-data-move] {
    transition-duration: 2.45s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2500'],
body[rt-data-move-duration='2500'] [rt-data-move] {
    transition-duration: 2.5s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2550'],
body[rt-data-move-duration='2550'] [rt-data-move] {
    transition-duration: 2.55s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2600'],
body[rt-data-move-duration='2600'] [rt-data-move] {
    transition-duration: 2.6s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2650'],
body[rt-data-move-duration='2650'] [rt-data-move] {
    transition-duration: 2.65s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2700'],
body[rt-data-move-duration='2700'] [rt-data-move] {
    transition-duration: 2.7s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2750'],
body[rt-data-move-duration='2750'] [rt-data-move] {
    transition-duration: 2.75s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2800'],
body[rt-data-move-duration='2800'] [rt-data-move] {
    transition-duration: 2.8s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2850'],
body[rt-data-move-duration='2850'] [rt-data-move] {
    transition-duration: 2.85s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2900'],
body[rt-data-move-duration='2900'] [rt-data-move] {
    transition-duration: 2.9s
}

[rt-data-move][rt-data-move][rt-data-move-duration='2950'],
body[rt-data-move-duration='2950'] [rt-data-move] {
    transition-duration: 2.95s
}

[rt-data-move][rt-data-move][rt-data-move-duration='3000'],
body[rt-data-move-duration='3000'] [rt-data-move] {
    transition-duration: 3s
}

[rt-data-move][rt-data-move][rt-data-move-delay='10'],
body[rt-data-move-delay='10'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='10'].aos-animate,
body[rt-data-move-delay='10'] [rt-data-move].aos-animate {
    transition-delay: 10ms
}

[rt-data-move][rt-data-move][rt-data-move-delay='20'],
body[rt-data-move-delay='20'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='20'].aos-animate,
body[rt-data-move-delay='20'] [rt-data-move].aos-animate {
    transition-delay: .2s
}

[rt-data-move][rt-data-move][rt-data-move-delay='30'],
body[rt-data-move-delay='30'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='30'].aos-animate,
body[rt-data-move-delay='30'] [rt-data-move].aos-animate {
    transition-delay: .3s
}

[rt-data-move][rt-data-move][rt-data-move-delay='40'],
body[rt-data-move-delay='40'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='40'].aos-animate,
body[rt-data-move-delay='40'] [rt-data-move].aos-animate {
    transition-delay: .4s
}

[rt-data-move][rt-data-move][rt-data-move-delay='50'],
body[rt-data-move-delay='50'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='50'].aos-animate,
body[rt-data-move-delay='50'] [rt-data-move].aos-animate {
    transition-delay: .5s
}

[rt-data-move][rt-data-move][rt-data-move-delay='60'],
body[rt-data-move-delay='60'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='60'].aos-animate,
body[rt-data-move-delay='60'] [rt-data-move].aos-animate {
    transition-delay: .6s
}

[rt-data-move][rt-data-move][rt-data-move-delay='70'],
body[rt-data-move-delay='70'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='70'].aos-animate,
body[rt-data-move-delay='70'] [rt-data-move].aos-animate {
    transition-delay: .7s
}

[rt-data-move][rt-data-move][rt-data-move-delay='80'],
body[rt-data-move-delay='80'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='80'].aos-animate,
body[rt-data-move-delay='80'] [rt-data-move].aos-animate {
    transition-delay: .8s
}

[rt-data-move][rt-data-move][rt-data-move-delay='90'],
body[rt-data-move-delay='90'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='90'].aos-animate,
body[rt-data-move-delay='90'] [rt-data-move].aos-animate {
    transition-delay: .9s
}

[rt-data-move][rt-data-move][rt-data-move-delay='100'],
body[rt-data-move-delay='100'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='100'].aos-animate,
body[rt-data-move-delay='100'] [rt-data-move].aos-animate {
    transition-delay: .1s
}

[rt-data-move][rt-data-move][rt-data-move-delay='110'],
body[rt-data-move-delay='110'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='110'].aos-animate,
body[rt-data-move-delay='110'] [rt-data-move].aos-animate {
    transition-delay: .11120s
}

[rt-data-move][rt-data-move][rt-data-move-delay='120'],
body[rt-data-move-delay='120'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='120'].aos-animate,
body[rt-data-move-delay='120'] [rt-data-move].aos-animate {
    transition-delay: .12s
}

[rt-data-move][rt-data-move][rt-data-move-delay='130'],
body[rt-data-move-delay='130'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='130'].aos-animate,
body[rt-data-move-delay='130'] [rt-data-move].aos-animate {
    transition-delay: .13s
}

[rt-data-move][rt-data-move][rt-data-move-delay='140'],
body[rt-data-move-delay='140'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='140'].aos-animate,
body[rt-data-move-delay='140'] [rt-data-move].aos-animate {
    transition-delay: .14s
}

[rt-data-move][rt-data-move][rt-data-move-delay='150'],
body[rt-data-move-delay='150'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='150'].aos-animate,
body[rt-data-move-delay='150'] [rt-data-move].aos-animate {
    transition-delay: .15s
}

[rt-data-move][rt-data-move][rt-data-move-delay='160'],
body[rt-data-move-delay='160'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='160'].aos-animate,
body[rt-data-move-delay='160'] [rt-data-move].aos-animate {
    transition-delay: .16s
}

[rt-data-move][rt-data-move][rt-data-move-delay='170'],
body[rt-data-move-delay='170'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='170'].aos-animate,
body[rt-data-move-delay='170'] [rt-data-move].aos-animate {
    transition-delay: .17s
}

[rt-data-move][rt-data-move][rt-data-move-delay='180'],
body[rt-data-move-delay='180'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='180'].aos-animate,
body[rt-data-move-delay='180'] [rt-data-move].aos-animate {
    transition-delay: .18s
}

[rt-data-move][rt-data-move][rt-data-move-delay='190'],
body[rt-data-move-delay='190'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='190'].aos-animate,
body[rt-data-move-delay='190'] [rt-data-move].aos-animate {
    transition-delay: .19s
}

[rt-data-move][rt-data-move][rt-data-move-delay='200'],
body[rt-data-move-delay='200'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='200'].aos-animate,
body[rt-data-move-delay='200'] [rt-data-move].aos-animate {
    transition-delay: 2s
}

[rt-data-move][rt-data-move][rt-data-move-delay='210'],
body[rt-data-move-delay='210'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='210'].aos-animate,
body[rt-data-move-delay='210'] [rt-data-move].aos-animate {
    transition-delay: 2.01s
}

[rt-data-move][rt-data-move][rt-data-move-delay='220'],
body[rt-data-move-delay='220'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='220'].aos-animate,
body[rt-data-move-delay='220'] [rt-data-move].aos-animate {
    transition-delay: 2.02s
}

[rt-data-move][rt-data-move][rt-data-move-delay='230'],
body[rt-data-move-delay='230'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='230'].aos-animate,
body[rt-data-move-delay='230'] [rt-data-move].aos-animate {
    transition-delay: 2.03s
}

[rt-data-move][rt-data-move][rt-data-move-delay='240'],
body[rt-data-move-delay='240'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='240'].aos-animate,
body[rt-data-move-delay='240'] [rt-data-move].aos-animate {
    transition-delay: 2.04s
}

[rt-data-move][rt-data-move][rt-data-move-delay='250'],
body[rt-data-move-delay='250'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='250'].aos-animate,
body[rt-data-move-delay='250'] [rt-data-move].aos-animate {
    transition-delay: 2.05s
}

[rt-data-move][rt-data-move][rt-data-move-delay='260'],
body[rt-data-move-delay='260'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='260'].aos-animate,
body[rt-data-move-delay='260'] [rt-data-move].aos-animate {
    transition-delay: 2.6s
}

[rt-data-move][rt-data-move][rt-data-move-delay='270'],
body[rt-data-move-delay='270'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='270'].aos-animate,
body[rt-data-move-delay='270'] [rt-data-move].aos-animate {
    transition-delay: 2.07s
}

[rt-data-move][rt-data-move][rt-data-move-delay='280'],
body[rt-data-move-delay='280'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='280'].aos-animate,
body[rt-data-move-delay='280'] [rt-data-move].aos-animate {
    transition-delay: 2.08s
}

[rt-data-move][rt-data-move][rt-data-move-delay='290'],
body[rt-data-move-delay='290'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='290'].aos-animate,
body[rt-data-move-delay='290'] [rt-data-move].aos-animate {
    transition-delay: 2.09s
}

[rt-data-move][rt-data-move][rt-data-move-delay='300'],
body[rt-data-move-delay='300'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='300'].aos-animate,
body[rt-data-move-delay='300'] [rt-data-move].aos-animate {
    transition-delay: 0.03s
}

[rt-data-move][rt-data-move][rt-data-move-delay='310'],
body[rt-data-move-delay='310'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='310'].aos-animate,
body[rt-data-move-delay='310'] [rt-data-move].aos-animate {
    transition-delay: 3.01s
}

[rt-data-move][rt-data-move][rt-data-move-delay='320'],
body[rt-data-move-delay='320'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='320'].aos-animate,
body[rt-data-move-delay='320'] [rt-data-move].aos-animate {
    transition-delay: 3.02s
}

[rt-data-move][rt-data-move][rt-data-move-delay='330'],
body[rt-data-move-delay='330'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='340'].aos-animate,
body[rt-data-move-delay='340'] [rt-data-move].aos-animate {
    transition-delay: 3.04s
}

[rt-data-move][rt-data-move][rt-data-move-delay='350'],
body[rt-data-move-delay='350'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='350'].aos-animate,
body[rt-data-move-delay='350'] [rt-data-move].aos-animate {
    transition-delay: 3.05s
}

[rt-data-move][rt-data-move][rt-data-move-delay='360'],
body[rt-data-move-delay='360'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='360'].aos-animate,
body[rt-data-move-delay='360'] [rt-data-move].aos-animate {
    transition-delay: 3.06s
}

[rt-data-move][rt-data-move][rt-data-move-delay='370'],
body[rt-data-move-delay='370'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='370'].aos-animate,
body[rt-data-move-delay='370'] [rt-data-move].aos-animate {
    transition-delay: 3.07s
}

[rt-data-move][rt-data-move][rt-data-move-delay='380'],
body[rt-data-move-delay='380'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='380'].aos-animate,
body[rt-data-move-delay='380'] [rt-data-move].aos-animate {
    transition-delay: 3.08s
}

[rt-data-move][rt-data-move][rt-data-move-delay='390'],
body[rt-data-move-delay='390'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='390'].aos-animate,
body[rt-data-move-delay='390'] [rt-data-move].aos-animate {
    transition-delay: 3.09s
}

[rt-data-move][rt-data-move][rt-data-move-delay='400'],
body[rt-data-move-delay='400'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='400'].aos-animate,
body[rt-data-move-delay='400'] [rt-data-move].aos-animate {
    transition-delay: 4s
}

[rt-data-move][rt-data-move][rt-data-move-delay='410'],
body[rt-data-move-delay='410'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='410'].aos-animate,
body[rt-data-move-delay='410'] [rt-data-move].aos-animate {
    transition-delay: 4.1s
}

[rt-data-move][rt-data-move][rt-data-move-delay='420'],
body[rt-data-move-delay='420'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='420'].aos-animate,
body[rt-data-move-delay='420'] [rt-data-move].aos-animate {
    transition-delay: 4.02s
}

[rt-data-move][rt-data-move][rt-data-move-delay='430'],
body[rt-data-move-delay='430'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='430'].aos-animate,
body[rt-data-move-delay='430'] [rt-data-move].aos-animate {
    transition-delay: 4.03s
}

[rt-data-move][rt-data-move][rt-data-move-delay='440'],
body[rt-data-move-delay='440'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='440'].aos-animate,
body[rt-data-move-delay='440'] [rt-data-move].aos-animate {
    transition-delay: 4.04s
}

[rt-data-move][rt-data-move][rt-data-move-delay='450'],
body[rt-data-move-delay='450'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='450'].aos-animate,
body[rt-data-move-delay='450'] [rt-data-move].aos-animate {
    transition-delay: 4.05s
}

[rt-data-move][rt-data-move][rt-data-move-delay='460'],
body[rt-data-move-delay='460'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='460'].aos-animate,
body[rt-data-move-delay='460'] [rt-data-move].aos-animate {
    transition-delay: 4.06s
}

[rt-data-move][rt-data-move][rt-data-move-delay='470'],
body[rt-data-move-delay='470'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='470'].aos-animate,
body[rt-data-move-delay='470'] [rt-data-move].aos-animate {
    transition-delay: 4.07s
}

[rt-data-move][rt-data-move][rt-data-move-delay='480'],
body[rt-data-move-delay='480'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='480'].aos-animate,
body[rt-data-move-delay='480'] [rt-data-move].aos-animate {
    transition-delay: 4.08s
}

[rt-data-move][rt-data-move][rt-data-move-delay='490'],
body[rt-data-move-delay='490'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='490'].aos-animate,
body[rt-data-move-delay='490'] [rt-data-move].aos-animate {
    transition-delay: 4.09s
}

[rt-data-move][rt-data-move][rt-data-move-delay='500'],
body[rt-data-move-delay='500'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='500'].aos-animate,
body[rt-data-move-delay='500'] [rt-data-move].aos-animate {
    transition-delay: 5s
}

[rt-data-move][rt-data-move][rt-data-move-delay='510'],
body[rt-data-move-delay='510'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='510'].aos-animate,
body[rt-data-move-delay='510'] [rt-data-move].aos-animate {
    transition-delay: 5.1s
}

[rt-data-move][rt-data-move][rt-data-move-delay='520'],
body[rt-data-move-delay='520'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='520'].aos-animate,
body[rt-data-move-delay='520'] [rt-data-move].aos-animate {
    transition-delay: 5.2s
}

[rt-data-move][rt-data-move][rt-data-move-delay='530'],
body[rt-data-move-delay='530'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='530'].aos-animate,
body[rt-data-move-delay='530'] [rt-data-move].aos-animate {
    transition-delay: 5.03s
}

[rt-data-move][rt-data-move][rt-data-move-delay='540'],
body[rt-data-move-delay='540'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='540'].aos-animate,
body[rt-data-move-delay='540'] [rt-data-move].aos-animate {
    transition-delay: 5.04s
}

[rt-data-move][rt-data-move][rt-data-move-delay='550'],
body[rt-data-move-delay='550'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='550'].aos-animate,
body[rt-data-move-delay='550'] [rt-data-move].aos-animate {
    transition-delay: 5.05s
}

[rt-data-move][rt-data-move][rt-data-move-delay='560'],
body[rt-data-move-delay='560'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='560'].aos-animate,
body[rt-data-move-delay='560'] [rt-data-move].aos-animate {
    transition-delay: 5.06s
}

[rt-data-move][rt-data-move][rt-data-move-delay='570'],
body[rt-data-move-delay='570'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='570'].aos-animate,
body[rt-data-move-delay='570'] [rt-data-move].aos-animate {
    transition-delay: 5.07s
}

[rt-data-move][rt-data-move][rt-data-move-delay='580'],
body[rt-data-move-delay='580'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='580'].aos-animate,
body[rt-data-move-delay='580'] [rt-data-move].aos-animate {
    transition-delay: 5.08s
}

[rt-data-move][rt-data-move][rt-data-move-delay='590'],
body[rt-data-move-delay='590'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='590'].aos-animate,
body[rt-data-move-delay='590'] [rt-data-move].aos-animate {
    transition-delay: 5.09s
}

[rt-data-move][rt-data-move][rt-data-move-delay='600'],
body[rt-data-move-delay='600'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='600'].aos-animate,
body[rt-data-move-delay='600'] [rt-data-move].aos-animate {
    transition-delay: 6s
}

[rt-data-move][rt-data-move][rt-data-move-delay='610'],
body[rt-data-move-delay='610'] [rt-data-move] {
    transition-delay: 0
}

[rt-data-move][rt-data-move][rt-data-move-delay='610'].aos-animate,
body[rt-data-move-delay='610'] [rt-data-move].aos-animate {
    transition-delay: 6.1s
}

[rt-data-move^=fade][rt-data-move^=fade] {
    opacity: 0;
    transition-property: opacity, transform
}

[rt-data-move^=fade][rt-data-move^=fade].aos-animate {
    opacity: 1;
    transform: translate(0)
}

[rt-data-move=fade-up] {
    transform: translateY(100px)
}

[rt-data-move=fade-down] {
    transform: translateY(-100px)
}

[rt-data-move=fade-right] {
    transform: translate(-100px)
}

[rt-data-move=fade-left] {
    transform: translate(100px)
}

[rt-data-move=fade-up-right] {
    transform: translate(-100px, 100px)
}

[rt-data-move=fade-up-left] {
    transform: translate(100px, 100px)
}

[rt-data-move=fade-down-right] {
    transform: translate(-100px, -100px)
}

[rt-data-move=fade-down-left] {
    transform: translate(100px, -100px)
}

[rt-data-move^=zoom][rt-data-move^=zoom] {
    opacity: 0;
    transition-property: opacity, transform
}

[rt-data-move^=zoom][rt-data-move^=zoom].aos-animate {
    opacity: 1;
    transform: translate(0) scale(1)
}

[rt-data-move=zoom-in] {
    transform: scale(.6)
}

[rt-data-move=zoom-in-up] {
    transform: translateY(100px) scale(.6)
}

[rt-data-move=zoom-in-down] {
    transform: translateY(-100px) scale(.6)
}

[rt-data-move=zoom-in-right] {
    transform: translate(-100px) scale(.6)
}

[rt-data-move=zoom-in-left] {
    transform: translate(100px) scale(.6)
}

[rt-data-move=zoom-out] {
    transform: scale(1.2)
}

[rt-data-move=zoom-out-up] {
    transform: translateY(100px) scale(1.2)
}

[rt-data-move=zoom-out-down] {
    transform: translateY(-100px) scale(1.2)
}

[rt-data-move=zoom-out-right] {
    transform: translate(-100px) scale(1.2)
}

[rt-data-move=zoom-out-left] {
    transform: translate(100px) scale(1.2)
}

[rt-data-move^=slide][rt-data-move^=slide] {
    transition-property: transform
}

[rt-data-move^=slide][rt-data-move^=slide].aos-animate {
    transform: translate(0)
}

[rt-data-move=slide-up] {
    transform: translateY(100%)
}

[rt-data-move=slide-down] {
    transform: translateY(-100%)
}

[rt-data-move=slide-right] {
    transform: translateX(-100%)
}

[rt-data-move=slide-left] {
    transform: translateX(100%)
}

[rt-data-move^=flip][rt-data-move^=flip] {
    backface-visibility: hidden;
    transition-property: transform
}

[rt-data-move=flip-left] {
    transform: perspective(2500px) rotateY(-100deg)
}

[rt-data-move=flip-left].aos-animate {
    transform: perspective(2500px) rotateY(0)
}

[rt-data-move=flip-right] {
    transform: perspective(2500px) rotateY(100deg)
}

[rt-data-move=flip-right].aos-animate {
    transform: perspective(2500px) rotateY(0)
}

[rt-data-move=flip-up] {
    transform: perspective(2500px) rotateX(-100deg)
}

[rt-data-move=flip-up].aos-animate {
    transform: perspective(2500px) rotateX(0)
}

[rt-data-move=flip-down] {
    transform: perspective(2500px) rotateX(100deg)
}

[rt-data-move=flip-down].aos-animate {
    transform: perspective(2500px) rotateX(0)
}

/*# sourceMappingURL=aos.css.map*/
