/*=====================================================
testimonial ONE STARTS
=====================================================*/

.testimonial.element-one {
    margin: 0;
}

.testimonial.element-one .our-team {
    padding: 20px 30px;
    margin: 30px 15px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
    border-radius: 4px;
}

@media screen and (max-width: 767px){
	.testimonial.element-one .our-team{
		box-shadow:none !important;
	}
}

.testimonial.element-one .our-team .picture {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #1369ce;
}


.testimonial.element-one .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.testimonial.element-one .our-team .picture img {
    width: 100%;
    height: 100%;
    height: auto;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.testimonial.element-one .our-team:hover .picture img {
    box-shadow: 0 0 0 5px #f7f5ec;
    transform: scale(1.2);
}

.testimonial.element-one .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

.testimonial.element-one .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: rgb(31, 18, 139);
    background: linear-gradient(90deg, rgba(31, 18, 139, 1) 0%, rgba(121, 105, 252, 1) 100%);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.testimonial.element-one .our-team:hover .social {
    bottom: 0;
}

.testimonial.element-one .our-team .social li {
    display: inline-block;
}

.testimonial.element-one .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.testimonial.element-one .our-team .social li svg {
    fill: #fff;
}

.testimonial.element-one .team-content h6 {
    padding-bottom: 10px;
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: 0px;
    font-style: normal;
    color: #30353b;
    font-size: 20px;
    margin: 0;
}

.testimonial.element-one .star {
    display: inline-flex;
    padding: 5px;
    border-radius: 4px;
    background: #fef9d9;
    margin-bottom: 10px;
}


.testimonial.element-one .elementor-widget-radiant-testimonial .swiper-button-next,
.testimonial.element-one .elementor-widget-radiant-testimonial .swiper-button-prev {
    position: relative !important;
    height: 15px;
}

.testimonial.element-one .elementor-widget-radiant-testimonial .swiper-button-next {
    float: right;
    width: 92%;
    top: -4px;
}

.testimonial.element-one .elementor-widget-radiant-testimonial .swiper-button-prev {
    float: left;
    width: 92%;
    top: -4px;
}

.testimonial.element-one .testimonial > .swiper-wrapper > .swiper-slide {
    width: 385.333px;

}

.testimonial.rt-testimonial.element-one .swiper-dot2.swiper-pagination-bullet {
    text-align: center;
    width: 15px;
    height: 6px;
    display: inline-block;
    border-radius: 0px;
}



@media screen and (max-width: 767px) {

    .testimonial.element-one .our-team {
        padding: 20px 0;
        margin: 0;
    }
}

/*=====================================================
testimonial ONE ENDS
=====================================================*/




/*=====================================================
testimonial TWO STARTS
=====================================================*/
.testimonial {
    padding: 0;
}

.shadow-effect {
    padding: 0;
    text-align: left;
    padding-bottom: 15px;
}

.element-nine {
    width: 100%;
    position: relative;
}

#testimonial_grid .shadow-effect h6 {
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: 0px;
    font-style: normal;
    color: #30353b;
    font-size: 20px;
    padding: 0 0 10px 0;
    margin: 0;
}

#testimonial_grid .shadow-effect p {
    font-family: inherit;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
    font-weight: 300;
    color: #7e7b8a;
}

.testi-detail-area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -130px;
    text-align: center;
}

.testimonial-img {
    float: left;
}

.testimonial-img img {
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 10px 10px 30px 0 rgb(0 0 0 / 20%);
    margin: 0 auto;
}

.testimonial-name {
    float: left;
    text-align: left;
    color: #160742;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0;
    width: 100%;
    padding: 0 0 5px 0;
}

.testimonial-designation {
    float: left;
    text-align: left;
    color: #969697;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}

.testi-star {
    float: left;
    padding: 0;
    width: 100%;
    text-align: left;
}

.testi-star img {
    margin: 0;
    width: auto;
    box-shadow: 0px;
}

#testimonial_grid .item {
    text-align: center;
    padding: 30px !important;
    margin-bottom: 160px;
    opacity: 0.6;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: auto !important;
    background: transparent !important;
}


#testimonial_grid .item:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 5px;
    transform: rotate(45deg);
}

#testimonial_grid .slide-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);

}

#testimonial_grid .fa-quote-left:before {
    color: #e3e9ee;
    font-size: 16px;
}

#testimonial_grid .slide-item.active.center .fa-quote-left:before {
    color: #7154f8;
    opacity: 1;
    font-size: 18px;
}

.rd-slide-carousel .slide-item img {
    transform-style: preserve-3d;
    max-width: 80px;

}

#testimonial_grid.rd-slide-carousel .slide-dots .slide_dot.active span,
#testimonial_grid.rd-slide-carousel .slide-dots .slide_dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
    border-radius: 20px;
}

#testimonial_grid.rd-slide-carousel .slide-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
}

#testimonial_grid.rd-slide-carousel .slide-dots .slide_dot {
    display: inline-block;
    border-radius: 20px;
}

#testimonial_grid.rd-slide-carousel .slide-dots .slide_dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
    border-radius: 20px;
}






@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .testi-detail-area {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -100px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    #testimonial_grid .item:after {
        display: none;
    }

    .testi-detail-area {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }

    .element-nine {
        padding: 0 15px;
    }

    .testimonial-img {
        margin-bottom: 15px;
    }

    .shadow-effect {
        margin-bottom: 30px;
    }
}


.rd-slide-carousel,
.rd-slide-carousel .slide-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.rd-slide-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.rd-slide-carousel .slide-stage {
    position: relative;
    -ms-touch-action: pan-Y
}

.rd-slide-carousel .slide-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.rd-slide-carousel .slide-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    padding: 20px 0 0 0;
}

.rd-slide-carousel .slide-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.rd-slide-carousel .slide-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d
}

.rd-slide-carousel .slide-dots.disabled,
.rd-slide-carousel .slide-nav.disabled {
    display: none
}

.rd-slide-carousel .slide_dot,
.rd-slide-carousel .slide-nav .slide-next,
.rd-slide-carousel .slide-nav .slide-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.rd-slide-carousel.slide-loaded {
    display: block
}

.rd-slide-carousel.slide-loading {
    opacity: 0;
    display: block
}

.rd-slide-carousel.slide-hidden {
    opacity: 0
}

.rd-slide-carousel.slide-refresh .slide-item {
    display: none
}

.rd-slide-carousel.slide-drag .slide-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.rd-slide-carousel.slide-grab {
    cursor: move;
    cursor: grab
}

.rd-slide-carousel.slide-rtl {
    direction: rtl
}

.rd-slide-carousel.slide-rtl .slide-item {
    float: right
}

.no-js .rd-slide-carousel {
    display: block
}

.rd-slide-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.rd-slide-carousel .slide-animated-in {
    z-index: 0
}

.rd-slide-carousel .slide-animated-out {
    z-index: 1
}

.rd-slide-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.slide-height {
    transition: height .5s ease-in-out
}

.rd-slide-carousel .slide-item .slide-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.rd-slide-carousel .slide-item img.slide-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.rd-slide-carousel .slide-video-wrapper {
    position: relative;
    height: 100%;
    background: #30353b
}

.rd-slide-carousel .slide-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(slide.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: -webkit-transform .1s ease;
    transition: transform .1s ease
}

.rd-slide-carousel .slide-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.rd-slide-carousel .slide-video-playing .slide-video-play-icon,
.rd-slide-carousel .slide-video-playing .slide-video-tn {
    display: none
}

.rd-slide-carousel .slide-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.rd-slide-carousel .slide-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}


/*=====================================================
testimonial TWO ENDS
=====================================================*/

/*=====================================================
testimonial THREE STARTS
=====================================================*/

.testimonial-three {
    padding: 60px 30px 30px 30px;
    margin: 50px 15px 30px 15px;
    background-color: #fff;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
    border-radius: 4px;
}

.testimonial-three .testi-pic {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
    z-index: 1;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}


.testimonial-three .testi-pic::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*border: 2px solid #1369ce;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.testimonial-three .testi-pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    border: 4px solid #0066ff;
}

.testimonial-three:hover .testi-pic img {
    border: 4px solid #01cc56;
    transform: scale(1.1);
}

.testimonial-three .location {
    display: block;
    color: #4e5052;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    float: left;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.testimonial-three p {
    margin: 0;
    padding: 0;
    color: #969697;
}

.testi-content {
    display: block;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 15px;
}

.rt-testimonial .testimonial-three:before {
    content: "";
    position: absolute;
    left: 1%;
    bottom: -10px;
    width: 98%;
    height: 98%;
    background: #ffffff;
    opacity: 1;
    z-index: -1;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
}

.rt-testimonial .testimonial-three:after {
    content: "";
    position: absolute;
    left: 2%;
    bottom: -20px;
    width: 96%;
    height: 96%;
    background: #ffffff;
    opacity: 1;
    z-index: -2;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
}

.testi-content span.divider {
    float: left;
    margin: 0 5px;
}

.testi-content p {
    padding-bottom: 0;
    margin: 0;
    color: #969697;
}

.testi-content h6 {
    padding-bottom: 0;
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 500;
    font-style: normal;
    color: #30353b;
    font-size: 20px;
    margin: 0;
    float: left;
    margin: 0;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .testi-content,
    .testi-content h6,
    .testi-content span.divider,
    .testimonial-three .location {
        display: block;
        overflow: hidden;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {

    .testi-content,
    .testi-content h6,
    .testi-content span.divider,
    .testimonial-three .location {
        display: block;
        overflow: hidden;
        width: 100%;
    }
}

.rt-spa-testi .swiper-dot {
    text-align: center;
}

.rt-spa-testi .swiper-dot .swiper-pagination-bullet {
    margin: 0 3px;
}

/*=====================================================
testimonial THREE ENDS
=====================================================*/

/*=====================================================
testimonial FOUR STARTS
=====================================================*/

.rt-testimonial.element-four .swiper-wrapper {
    padding: 0 0 0 0px;
}

.rt-testimonial.element-four .testimonial-item .holder {
    padding: 34px 40px;
    margin: 50px 15px 30px 15px;
    background-color: #fff;
    text-align: left;
    position: relative;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 6%);
    border-radius: 4px;
    overflow: hidden;
}

.rt-testimonial.element-four .testimonial-item .holder > .testimonial-title {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    text-align: left;
    overflow: hidden;
}

.testimonial-title-pic {
    float: left;
    margin-right: 15px;
}



.testimonial-title-pic img {
    position: relative;
    border-radius: 50%;
    background: linear-gradient(to right, #F36985 0%, #976DE9 100%);
    background-clip: padding-box;
    padding: 4px;
    max-width: 70px;
}


.rt-testimonial.element-four .testimonial-item .holder > .testimonial-title .testimonial-title-data {
    float: left;
    display: contents;
}

.rt-testimonial.element-four .testimonial-item .holder > .testimonial-title .testimonial-title-data .title {
    color: #160742;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
}

.rt-testimonial.element-four .testimonial-item .holder > .testimonial-title .testimonial-title-data .designation {
    padding: 0;
    margin: 0;
    text-align: left;
    color: #969697;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}

@media only screen and (max-width: 767px) {
    .rt-testimonial.element-four .testimonial-item .holder {
        padding: 34px 30px;
        margin: 50px 0 30px 0;

    }
}

/*=====================================================
testimonial FOUR ENDS
=====================================================*/


/*=====================================================
testimonial FIVE STARTS
=====================================================*/

.rt-testimonial.element-five .testimonial-item .holder {
    padding: 0;
    margin: 0;
    text-align: left;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.rt-testimonial.element-five .testimonial-item .holder > .testimonial-title {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow: hidden;
}

.rt-testimonial.element-five .testimonial-item .holder > .testimonial-title .testimonial-title-pic {
    float: left;
    margin-right: 30px;
}



.rt-testimonial.element-five .testimonial-item .holder > .testimonial-title .testimonial-title-pic img {
    position: relative;
    border-radius: 50%;
    background: linear-gradient(to right, #F36985 0%, #976DE9 100%);
    background-clip: padding-box;
    padding: 4px;
    max-width: 70px;
}

.rt-testimonial.element-five .testimonial-item .holder > .testimonial-title .testimonial-title-data {
    float: left;
    padding-top: 6px;
}

.rt-testimonial.element-five .testimonial-item .holder > .testimonial-title .testimonial-title-data .title {
    color: #160742;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.rt-testimonial.element-five .testimonial-item .holder > .testimonial-title .testimonial-title-data .designation {
    padding: 0;
    margin: 0;
    text-align: left;
    color: #969697;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    display: block;
}

.swiper-dot2.swiper-pagination-clickable {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.swiper-dot2.swiper-pagination-clickable .swiper-pagination-bullet {
    margin: 0 2px;
}


.swiper-dot.swiper-pagination-clickable {
    text-align: center;
    width: 100%;
    z-index: 999;
}

.swiper-dot.swiper-pagination-clickable .swiper-pagination-bullet {
    margin: 0 4px;
}

.rt-testi-5 .swiper-dot2.swiper-pagination-clickable {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    margin: 0 auto;
    text-align: center;
    width: auto;
    z-index: 999;
}

.rt-testi-5 .swiper-dot2.swiper-pagination-clickable .swiper-pagination-bullet {
    margin: 0 2px;
    background: #ff0000;
}

/*=====================================================
testimonial FIVE ENDS
=====================================================*/

/*=====================================================
testimonial SIX STARTS
=====================================================*/

.rt-testimonial.element-six {
    width: 100%;
    height: 100%;
    margin: auto;
}

.rt-testimonial.element-six .swiper-container {
    width: 100%;
    height: 100%;
}

.rt-testimonial.element-six .swiper-slide {
    width: 500px;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0 0;
}

.rt-testimonial.element-six .swiper-slide > .cards {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 30px;
    color: #fff;
    width: 100%;
    padding: 30px 30px;
    margin: 15px 30px;
}

.rt-testimonial.element-six .swiper-slide > .cards::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #fff;
    transform: skew(-10deg);
    box-shadow: 0 0 20px rgb(0 0 0 / 6%);

}

.rt-testimonial.element-six .swiper-slide > .cards > .testi-detail-area {
    position: relative;
    bottom: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    color: #fff;
    opacity: 1;
    z-index: 15;
    text-align: left;
}

.rt-testimonial.element-six .swiper-slide > .cards > .testi-detail-area .testimonial-img {
    float: left;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.rt-testimonial.element-six .swiper-slide > .cards > .testi-detail-area .testimonial-img img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: 0px;
    border-radius: 50%;
    object-fit: cover;
}

.rt-testimonial.element-six .swiper-slide > .cards > .testi-detail-area > .testimonial-name {
    float: left;
    padding: 0 0 10px 0;
    text-align: left;
    color: #160742;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
}


.rt-testimonial.element-six .swiper-slide > .cards > .testi-detail-area p {
    font-size: 14px;
    line-height: 28px;
    font-style: normal;
    color: #696E79;
    margin: 0;
    padding: 0;
}

.rt-testimonial.element-six .swiper-slide > .cards > .testi-detail-area > .testi-star {
    display: flex;
    float: left;
    padding: 0;
    width: 100%;
    text-align: left;
}

.rt-testimonial.element-six .swiper-slide > .cards > .testi-detail-area > .testi-star img {
    margin: 0;
    width: auto;
}

.rt-testimonial.element-six .swiper-slide > .cards > .testi-detail-area .testi-star svg {
    float: left;
}

@media screen and (max-width: 767px) {

    .rt-testimonial.element-six .swiper-slide > .cards {
        margin: 0;
    }

    .rt-testimonial.element-six .swiper-slide > .cards::before {
        transform: none;
    }
}



/*=====================================================
testimonial SIX ENDS
=====================================================*/


/*=====================================================
testimonial SEVEN STARTS
=====================================================*/

.rt-testimonial.element-seven.swiper-container .swiper-wrapper .swiper-slide {
    position: relative;
    padding: 20px 0 20px 0;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide {
    text-align: center;
    position: relative;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-pic {
    margin-bottom: 30px;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-pic > .testimonial-pic-holder {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-pic > .testimonial-pic-holder > .testimonial-pic-main {
    display: inline-block;
    vertical-align: top;
    width: 175px;
    height: 175px;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-pic > .testimonial-pic-holder > .testimonial-pic-icon {
    background: #004FFC;
    position: absolute;
    bottom: 0px;
    right: -5px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    color: #fff;
    line-height: 60px;
    box-shadow: none;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .qoute-img {
    display: none;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .qoute-img svg {
    fill: #ede0cf;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .picture {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    margin-top: -22px;
    margin: 0 auto;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-data {
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 0 10%;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-data blockquote > *:last-child {
    margin-bottom: 0 !important;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-data blockquote p {
    margin-bottom: 20px;
}

.rt-testimonial.element-seven.swiper-container .swiper-button-next {
    background: url(../images/right-arrow-img.svg) no-repeat !important;
}

.rt-testimonial.element-seven.swiper-container .swiper-button-prev {
    background: url(../images/left-arrow-img.svg) no-repeat !important;
}

.rt-testimonial.element-seven.swiper-container .swiper-button-next,
.rt-testimonial.element-seven.swiper-container .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 32px !important;
    height: 32px !important;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}


.rt-testimonial.element-seven.swiper-container .swiper-button-prev svg,
.rt-testimonial.element-seven.swiper-container .swiper-button-next svg {
    width: 22px;
    height: 22px;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-title > *:last-child {
    margin-bottom: 0 !important;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-title .testimonial-title-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-title .title {
    margin-bottom: 0px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 20px;
    color: #30353B;
    line-height: 30px !important;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-title .title span.location {
    font-size: 14px;
    line-height: 20px;
    color: #30353B;
    display: block;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-title .designation {
    margin-bottom: 0;
    margin: 0px;
    padding-right: 20px;
    position: relative;
    display: inline-block;
    letter-spacing: .05em;
}

.rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-title .designation:after {
    content: "";
    background: currentColor;
    width: 8px;
    height: 1px;
    position: absolute;
    top: 50%;
    right: 0;
}

.rt-testimonial.element-seven.swiper-container .swiper-pagination-fraction {
    display: none;
}


@media only screen and (max-width: 767px) {

    .rt-testimonial.element-seven.swiper-container .swiper-wrapper > .holder.swiper-slide > .testimonial-data {
        padding: 0 15%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 .rt-testimonial.element-three .testimonial-three .testi-content, .rt-testimonial.element-three .testimonial-three .testi-content h6, .rt-testimonial.element-three .testimonial-three .testi-content span.divider,.rt-testimonial.element-three .testimonial-three .location {
    display: flex;
        overflow: auto;
        width: auto;
    }
}


@media only screen and (max-width: 767px) {
 .rt-testimonial.element-three .testimonial-three .testi-content, .rt-testimonial.element-three .testimonial-three .testi-content h6, .rt-testimonial.element-three .testimonial-three .testi-content span.divider,.rt-testimonial.element-three .testimonial-three .location {
    display: flex;
        overflow: auto;
        width: auto;
    }
}

/*=====================================================
testimonial SEVEN ENDS
=====================================================*/
